// Colors
$nav-color: #5B605F;
$header-color: #4a4a49;
$buttons-color: #FF6600;
$background-screen-color: #FFFFFA;
$info-color: #3498DB;
$warning-color: #FFB03B;
$success-color: #468966;
$basket-color: #BD4932;
$text-in-table-color: #A1A194;
$logo-color: #fff;
$logo-color-2: #E58A20;
$app-form-color: #fffcf3;

//Fonts
$text-font: 'Open Sans', sans-serif;
$logo-font: "Charmonman", cursive;
$size-base-font: 14;