.about_info{
  color: $text-in-table-color;
  display: flex;
  justify-content: center;
  text-align: center;
}
.all_comp{
  max-width: toRem(220);
  margin: toRem(50);
}
.i-all{
  font-size: 62px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 25px;
}
.h1_text{
  margin-bottom: toRem(15);
}
